.button{
    margin-top: 20px;
    background-color: aquamarine;
    height: 50px;
    width: 100px;
    background: orange;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #fff700;
    color: black;
}

.adminRegisterButton{
    margin-top: 20px;
    // background-color: rgb(62, 255, 191);
    height: 60px;
    width: 100px;
    background: rgb(26, 238, 210);
    border: none;
    color: rgb(0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.adminRegisterButton:hover{
    background: rgb(29, 158, 141);
    color: white;
}